  body {
    background-image: url("../images/diceW.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    h1 {
      text-align: center;
      color:whitesmoke;
      font-family: 'ZCOOL KuaiLe', cursive;
    }
    p {
      color: whitesmoke;
      font-size: 2em;
       font-family: 'ZCOOL KuaiLe', cursive;
    }
    button{
      background-color:rgb(11, 93, 175);
      border: none;
      color: whitesmoke;
    
    }