  body {
    background-image: url("../images/diceW.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    h1 {
      text-align: center;
      color:whitesmoke;
      font-family: 'ZCOOL KuaiLe', cursive;
    }
    p {
      color: whitesmoke;
      font-size: 2em;
       font-family: 'Alegreya', serif;
    }
    button{
      background-color:rgb(11, 93, 175);
      border: none;
      color: whitesmoke;
    
    }
    nav {
      background-color: rgb(11, 93, 175);
      height: 60px;
    }
    nav ul li{
      float: left;
      list-style-type: none;
      width: 130px;
      border-right: 1px solid #1488CC;
      border-left: 1px solid #1488CC;
      text-align: center;
    }
    li a {
      color: whitesmoke;
      line-height: 60px;
    }
    li a:hover{
      background-color: black;
      color: whitesmoke;
    }
    nav ul {
      width: 700px;
      height: 60px;
      margin: 0 auto;
    }
.well h1 {
  color: black;
 font-family: 'Alegreya', serif;
}
.well p{
  color: black;
}
#game {
  border: solid;
  border-color: rgb(11, 93, 175);
}